<div class="min-h-screen bg-green-800 flex items-center justify-center p-4">
    <div class="bg-white rounded-3xl shadow-2xl p-10 w-full max-w-md text-center">
      <h1 class="text-3xl font-bold text-gray-800 mb-6">Sistema de Reservas</h1>
  
      <div class="flex flex-col gap-4">
        <a
          routerLink="/habitaciones"
          class="bg-black text-white py-3 rounded-full hover:bg-gray-900 transition"
        >
          Ver Habitaciones
        </a>
        <a
          routerLink="/reservas"
          class="bg-gray-700 text-white py-3 rounded-full hover:bg-gray-800 transition"
        >
          Ver Reservas
        </a>
      </div>
    </div>
  </div>

<div class="flex-1 flex items-center justify-center p-8 min-h-screen bg-[#4B7753]">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
    <a routerLink="/habitaciones"
      class="bg-white rounded-xl p-6 shadow-xl hover:scale-105 transition transform text-center w-72 h-72 flex flex-col justify-center items-center">
      <img src="assets/icons/bedroom.png" alt="Habitaciones" class="w-20 h-20 mb-4" />
      <span class="font-semibold text-black text-lg">HABITACIONES</span>
    </a>

    <a routerLink="/salas"
      class="bg-white rounded-xl p-6 shadow-xl hover:scale-105 transition transform text-center w-72 h-72 flex flex-col justify-center items-center">
      <img src="assets/icons/meeting-room.png" alt="Salas" class="w-20 h-20 mb-4" />
      <span class="font-semibold text-black text-lg">SALAS</span>
    </a>

    <a routerLink="/clientes"
      class="bg-white rounded-xl p-6 shadow-xl hover:scale-105 transition transform text-center w-72 h-72 flex flex-col justify-center items-center">
      <img src="assets/icons/clients.png" alt="Clientes" class="w-20 h-20 mb-4" />
      <span class="font-semibold text-black text-lg">CLIENTES</span>
    </a>
  </div>
  <!-- Logo -->
  <div class="fixed bottom-8 right-8 opacity-80">
    <img src="assets/cedros_logo.png" alt="Los Cedros Hotel & Eventos Logo" class="w-20 h-auto" />
  </div>
</div>
