<div class="min-h-screen bg-green-800 flex items-center justify-center p-4">
    <div class="bg-white rounded-3xl shadow-2xl p-10 w-full max-w-md text-center">
      <h1 class="text-3xl font-bold text-gray-800 mb-6">Sistema de Reservas</h1>
  
      <div class="flex flex-col gap-4">
        <a
          routerLink="/habitaciones"
          class="bg-black text-white py-3 rounded-full hover:bg-gray-900 transition"
        >
          Ver Habitaciones
        </a>
        <a
          routerLink="/reservas"
          class="bg-gray-700 text-white py-3 rounded-full hover:bg-gray-800 transition"
        >
          Ver Reservas
        </a>
      </div>
    </div>
  </div>
  