<h2>Listado de Salas</h2>

<table border="1" *ngIf="salas.length > 0; else sinSalas">
  <tr>
    <th>ID</th>
    <th>Capacidad</th>
    <th>Precio</th>
    <th>Equipamiento</th>
    <th>Estado</th>
    <th>Detalle</th>
  </tr>
  <tr *ngFor="let sala of salas">
    <td>{{ sala.id }}</td>
    <td>{{ sala.capacidad }}</td>
    <td>{{ sala.precio }}</td>
    <td>{{ sala.equipamiento }}</td>
    <td>{{ sala.estado.nombre }}</td>
    <td><a [routerLink]="['/salas', sala.id]">Ver Detalle</a></td>
  </tr>
</table>

<ng-template #sinSalas>
  <p>No hay salas disponibles.</p>
</ng-template>
